<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <select id="selByLogin" resultType="User">

        SELECT * FROM user where username = #{username}
        and password = #{password}

    </select>

    <update id="changeUserEdit" >
       update user
        <set>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="sex!=null">
              sex=#{sex},
            </if>
            <if test="qq!=null">
              qq=#{qq}
            </if>
        </set>
            WHERE
            uid=#{uid}
    </update>

</mapper>