<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.mapper.HistoryMapper">

    <select id="selForHistorySearch" resultType="com.yc.user.bean.HistorySearch">
        SELECT DISTINCT (historySearchName) FROM historysearch WHERE uid = #{uid}
    </select>

    <select id="selHistoryByKey" resultType="com.yc.user.bean.HistorySearch">
        SELECT * FROM historysearch WHERE WHERE uid = #{uid} and historySearchName = #{key}
    </select>

    <insert id="insHistory" >
        INSERT INTO historysearch(uid,historySearchName) VALUES (#{uid},#{key})
    </insert>

</mapper>