<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.mapper.NovelMapper">

    <select id="selForSearchHistoryNovel" resultType="com.yc.user.bean.SearchHistoryNovel">

        SELECT nid ,novelName FROM novel WHERE nid = #{nid}
    </select>

    <select id="selectNovelByName" resultType="com.yc.user.bean.Novel">
        select nid,novelName,url,author from novel where novelName=#{novelName}
    </select>

</mapper>