<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.mapper.UserCollectMapper">

    <insert id="insCollectNovel">

        INSERT INTO collect(uid,nid,cTimes) VALUES (#{uid},#{nid},#{cTimes})

    </insert>

    <insert id="insCollectNovelChapter">

        INSERT INTO collect(uid,nid,cid,chapterName,cTimes) VALUES (#{uid},#{nid},#{cid},#{novelChapterName},#{cTimes})

    </insert>

    <resultMap id="myCollectListMap" type="com.yc.user.bean.Collect">
        <id property="coid" column="coid"></id>
        <result property="nid" column="nid"></result>

        <association property="searchHistoryNovel" column="nid" select="com.yc.user.mapper.NovelMapper.selForSearchHistoryNovel"></association>
    </resultMap>

    <select id="selUserCollectList" resultMap="myCollectListMap">
        SELECT * FROM collect WHERE uid = #{uid}

    </select>
    <select id="selByUidNid" resultType="com.yc.user.bean.Collect">

        SELECT * FROM collect WHERE uid = #{uid} AND nid =#{nid}

    </select>

    <select id="updCollectByUidAndNid" resultType="java.lang.Integer">
        UPDATE collect set chapterName = #{novelChapterName} ,cid = #{cid} , cTimes= #{cTimes}
        WHERE nid = #{nid} AND uid = #{uid}

    </select>
</mapper>