<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.mapper.UserMapper">

	<resultMap id="FindmessageMap" type="com.yc.user.bean.Message">
			<association property="user" column="uid" select="com.yc.user.mapper.UserMapper.findUsername"></association>
	</resultMap>


	<select id="findUsername" resultType="com.yc.user.bean.User">
		select * from user where uid= #{uid}
	</select>

    <select id="selByLogin" resultType="com.yc.user.bean.User">

        SELECT * FROM user where username = #{username}
        and password = #{password}

    </select>
    
    <update id="UpdateUserVip">
    	update user set level = '普通会员' where uid = #{uid}
    </update>

    <update id="changeUserEdit" >
       update user
        <set>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="sex!=null">
              sex=#{sex},
            </if>
            <if test="qq!=null">
              qq=#{qq}
            </if>
        </set>
            WHERE
            uid=#{uid}
    </update>


    <select id="findUserById" resultType="com.yc.user.bean.User">
    	select * from user where uid = #{uid}
    </select>
    
    <update id="upadateUser" >
    	update user set sex = #{sex} , email = #{email} where username = #{username,jdbcType=VARCHAR}
    </update>
    
    
 	<update id="changePwd" parameterType="com.yc.user.bean.User">
    	update user set password = #{password}  where uid = #{uid}
    </update>
    
    
    <select id="SerachPage" resultMap="FindmessageMap" parameterType="Integer">
       select * from message where uid=#{uid} 
    </select>
    
   <!--  <select id="SerachPage" resultMap="FindmessageMap" parameterType="Integer">
       select * from message where uid=#{uid} limit #{pageNum},#{pageSize}
    </select> -->
    
    
    <insert id="chongZhiVip">
    	insert into vip(uid,startTimes,endTimes,flag) values(#{uid},#{startTimes},#{endTimes},1)
    </insert>
    
    <select id="findUserIsOrNotVip" resultType="com.yc.user.bean.Vip">
    	select * from vip where uid=#{uid}
    </select>
    
    <update id="UpdateUsersVip">
    	update vip set endTimes = #{endTimes} where uid = #{uid}
    </update>
    
    <delete id="deleteFromMsg">
    	delete from message where id in 
    	<foreach collection="array" open="("   close=")"  separator=","  item="item" >
    			#{item}
    	</foreach>
    </delete>
    
    <delete id="deleteFromMsgByUid">
    	delete from message where uid = #{uid}
    </delete>
    
    
</mapper>