<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.user.mapper.UserMapper">

	<resultMap id="FindmessageMap" type="com.yc.user.bean.Message">
			<association property="user" column="uid" select="mapper.UserMapper.findUsername"></association>
	</resultMap>

	<!--<select id="findUsername" resultType="com.yc.user.bean.User">
		select * from user where uid= #{uid}
	</select>-->

    <select id="selByLogin" resultType="com.yc.user.bean.User">

        SELECT * FROM user where username = #{username}
        and password = #{password}

    </select>

    <update id="changeUserEdit" >
       update user
        <set>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="sex!=null">
              sex=#{sex},
            </if>
            <if test="qq!=null">
              qq=#{qq}
            </if>
        </set>
            WHERE
            uid=#{uid}
    </update>


    <select id="findUserById" resultType="com.yc.user.bean.User">
    	select * from user where uid = #{uid}
    </select>
    
    <update id="upadateUser" parameterType="com.yc.user.bean.User">
    	update user 
    	<set>
	    	<if test="sex != null">
	    	 	sex = #{sex} 
	    	</if>
	    	 <if test="email != null ">
	    	 	email = #{email} 
	    	 </if>
    	</set> 
    	where username = #{username}
    </update>
    
    
 	<update id="changePwd" parameterType="com.yc.user.bean.User">
    	update user set password = #{password}  where uid = #{uid}
    </update>
    
    
    <select id="SerachPage" resultMap="FindmessageMap" parameterType="Integer">
       select * from message where uid=#{uid} 
    </select>
    
   <!--  <select id="SerachPage" resultMap="FindmessageMap" parameterType="Integer">
       select * from message where uid=#{uid} limit #{pageNum},#{pageSize}
    </select> -->
    
    
</mapper>